body {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
}

.falls {
  position: absolute;
}

.col-7 {
  width: 50vw;
}

#ground {
  background-color: gray;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 90vh;
}

#name {
  top: 10vh;
}

#first_paragraph {
  top: 20vh;
}

#second_paragraph {
  top: 28vh;
}

#third_paragraph {
  top: 40vh;
}

#fourth_paragraph {
  top: 50vh;
}

#fifth_paragraph {
  top: 70vh;
}
