html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding-bottom: 150px; /* Retained increased padding at the bottom */
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

.center {
  margin: 10px 0 10px 50px; 
  max-width: 95%; /* Use a percentage for max-width to make it responsive */
  box-sizing: border-box; /* Ensure padding and borders are included in width calculations */
}

.footer {
  margin-top: 50px;
  font-size: 1rem;
}

img {
  max-width: 100%; /* Ensure images fit within their container */
  height: auto;
  padding-bottom: 100px;
}

h2 {
  margin-bottom: 0;
}

dd {
  margin-top: 0;
  width: 65%
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .center {
    max-width: 1200px; /* Set a max width for larger screens */
  }
}

@media (max-width: 480px) {
  .center {
    margin: 10px 5%;
    max-width: 100%; /* Utilize the full width on very small screens */
  }

  .footer {
    margin: 20px 10px 10px 10px ; /* Center the footer block */
    text-align: center; /* Ensure the text is centered */
    width: 100%; /* Utilize the full width of the screen */
  }

  img {
    max-width: 100%; /* Ensure images are fully responsive */
  }
}