html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  margin-bottom: 50px;
}

a {
  color: blue
}

a:visited {
  color: blue;
}

.center {
  margin: 50px 100px 50px 100px;
  max-width: 1000px;
}

.footer {
  margin-top: 50px;
}

img {
    max-width: 75%;
    max-height: 75%;
    padding-bottom: 100px;
}

h2 {
     margin-BOTTOM: 0; 
}

dd  {
     margin-TOP: 0;
}